/**********
 * FONTES
 */

@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: local('Poppins Regular'), local('Poppins-Regular'),
        url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/Poppins-Bold.eot');
    src: local('Poppins Bold'), local('Poppins-Bold'),
        url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype'),
        url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-black';
    src: url('../fonts/Poppins-Black.eot');
    src: local('Poppins Black'), local('Poppins-Black'),
        url('../fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins-Black.woff') format('woff'),
        url('../fonts/Poppins-Black.ttf') format('truetype'),
        url('../fonts/Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('../fonts/Nunito-Regular.eot');
    src: local('Nunito Regular'), local('Nunito-Regular'),
        url('../fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nunito-Regular.woff2') format('woff2'),
        url('../fonts/Nunito-Regular.woff') format('woff'),
        url('../fonts/Nunito-Regular.ttf') format('truetype'),
        url('../fonts/Nunito-Regular.svg#Nunito-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-bold';
    src: url('../fonts/Nunito-Bold.eot');
    src: local('Nunito Bold'), local('Nunito-Bold'),
        url('../fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nunito-Bold.woff2') format('woff2'),
        url('../fonts/Nunito-Bold.woff') format('woff'),
        url('../fonts/Nunito-Bold.ttf') format('truetype'),
        url('../fonts/Nunito-Bold.svg#Nunito-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-black';
    src: url('../fonts/Nunito-Black.eot');
    src: local('Nunito Black'), local('Nunito-Black'),
        url('../fonts/Nunito-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nunito-Black.woff2') format('woff2'),
        url('../fonts/Nunito-Black.woff') format('woff'),
        url('../fonts/Nunito-Black.ttf') format('truetype'),
        url('../fonts/Nunito-Black.svg#Nunito-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}



/************
 * COULEURS
 */

:root {

	--color-txt-primary: #5B5766;
	--color-txt-secondary: #554D89;
	--color-accent: #EF7171;
	--color-bleu: #6852ED;
	--color-degrade-fonce: #604CDA;
	--color-degrade-clair: #BA43FC;
	--color-bg-gris: #F6F7FA;
    --color-border-gris: #707070;
}



/************
 * BASE
 */

* {
	padding: 0px;
	box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: nunito;
    font-size: 1.125rem;        /*18px*/
    line-height: 1.69;
    color: var(--color-txt-primary);
}

h1 {
    font-family: poppins-bold;
    font-size: 3.125rem;
    color: var(--color-txt-secondary);
}

h2 {
    font-family: poppins-bold;
    font-size: 2.125rem;        /*34px*/
    color: var(--color-txt-secondary);
    line-height: 2.75;
}

h3 {
    font-family: poppins-bold;
    font-size: 1.375rem;        /*22px*/
    color: var(--color-txt-secondary);
}

a {
    text-decoration: none;
    color: var(--color-txt-secondary);
}

li {list-style: none;}



/************
 * CLASSES
 * GENERIQUES
 */

.nunito16 {
    font-family: nunito;
    font-size: 1rem;        /*16px*/
    line-height: 1.3125;
    color: #716C80
}

.nunito18 {
    font-family: nunito;
    font-size: 1.125rem;    /*18px*/
    line-height: 1.688;
    color: #716C80
}

.txt-center {text-align: center;}
.txt-align-right {text-align: right;}
.m-left-60 {margin-left: 60px;}
.p-left-60 {padding-left: 3.125vw;}

.btn  {
    color: white;
    text-align: center;
    font-family: poppins;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid var(--color-border-gris);
    border-radius: 40px;
    background-image: linear-gradient(to right, var(--color-degrade-fonce), var(--color-degrade-clair));
}



/************
 * STRUCTURE
 */


    /*** HEADER ***/


#header-cont {
    background-image: url("../img/shape.svg");
    background-position: right 0 top 0%;
    background-repeat: no-repeat;
    background-size: auto;
    height: 860px;
}

#header-menu-bar {
    margin-left:27vw;
    margin-right: 40vw;
    height: 70px;
    flex: 0 70px;}
#header-menu-bar * {margin:0}
#header-logo-container {padding-top: 20px; height: 70px; flex: 0 25%;}
#header-nav-cont {flex: 0 75%;}

.header-nav-list {border-top: 1px solid transparent;}

.header-nav-item {
    font-family: nunito;
    line-height: 1.31;
    color: var(--color-txt-primary);
    padding-top: 45px;
}

.header-nav-item:hover {
    font-family: nunito-bold;
    color: var(--color-txt-secondary);
    border: 2px solid;
    border-image: linear-gradient(to right, #604CDA, #BA43FC) 100% 0 0;
    padding-top: 45px;
}



#header-prices {
    margin-left: 27vw;
    margin-top: 250px;
    max-width: 22vw;
    margin-bottom: auto;
}

.header-prices-p {
    font-size: 1.375rem;        /*22px*/
    text-align: justify;
    margin:0px;
}

#prices-links-div {margin-top:40px;}


    /*** OFFRES PRIX***/

#price-cont{ margin-top: 120px;margin-bottom: 120px;}

.price-sections {
    height: 616px;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--color-bg-gris);
    flex: 0 30%;
}

.price-title{
    color: var(--color-txt-secondary);
    font-family: poppins-bold;
    font-size: 1.25rem;
}

.prices {
    font-family: poppins-bold;
    font-size: 3.125rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-txt-secondary);
}

.prices--list {padding:60px 60px 60px 75px;}
.prices--list li:nth-child(n+4) {opacity: 0.8;}

.btn-getting-started {
    margin: 0px 100px 60px 60px;
}


    /*** TESTIMONIAL ***/


#testimonial-cont {
    width: 100vw;
    background-color: var(--color-bg-gris);
    padding-top: 100px;
    padding-bottom: 76px;
}

#testimonial-cont * {
    text-align:  center;
}

.section-testimonial {
    width: 40vw;
    margin: auto;
}

#testimonial-div-photo {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    background-image: url(../img/sam.jpg);
    background-size: contain;
}

.testimonial-client {
    font-family: poppins-bold;
    font-size: 1.25rem;
    color: var(--color-txt-secondary);
}


    /*** SERVICES ***/

#services-cont {margin: 120px auto;}
#services-div-col1 {padding-left: 50px;}
.services-div-col {flex-basis: 33.33%;}

.service-div {
    margin: 10px;
    padding-left: 30px;
    min-height: 300px; /* eviter les effets de bord de flex  */
    border: 1px solid var(--color-border-gris);
    border-radius: 10px;
    box-shadow: 20px var(--color-bg-gris);
}

/* justifie les paragraphes */
.service-div p {
    text-align: justify;
    margin-right: 30px;
}

/* supprime la marge sous le titre */
.service-div h3 {
    margin-top: 95px;
    margin-bottom: 0px;
}

 /*lors du survol remet la marge normale au-dessus du titre */
.service-div:hover h3 {
    margin-top: 45px;
    margin-bottom: 0px;
}

/* lors du survol change bg de couleur */
.service-div:hover {
    background-image: linear-gradient(to top right, #604CDA, #BA43FC);
    box-shadow: 20px var(--color-bleu);
}

/* "cache" le lien read more -- visibility pose problème */
.services-read-more-link a {color: white}

/* et adapte la couleur du texte */
.service-div:hover * {color: white;}


    /*** COMMUNITY ***/

#community-cont {margin-bottom: 120px;}
#community-div {flex: 0 50%;}
#community-div header {margin: 70px 0px 80px 70px;}
#community-btn {margin-right: 30px;}

#support-img {
    flex: 0 50%;
    height: 475px;
    width: 650px;
    background-image: url(../img/community.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 237px 237px 237px 80px;
}


    /*** FOOTER - SUBSCRIBE ***/


#footer-subscribe {
    margin-bottom: 100px;
    border: 1px solid var(--color-border-gris);
    border-radius: 10px;
    background-color: var(--color-bleu);
}

#footer-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* placeholder */
#footer-form input:first-child {
    margin-left: 5.2rem;
    background-color: var(--color-bleu);
    border: hidden;
    border-radius: 10px;
}

/* bouton Send */
#footer-form input:nth-child(2) {margin-right: 1.875rem;}


.footer-title {
    font-family: poppins-bold;
    font-size: 1.25rem;
    color: var(--color-txt-secondary);
}

#subscribe-btn {
    flex: 0 10%;
    border: 3px solid var(--color-border-gris);
    border-radius: 40px;
    background-color: transparent;
    padding: 5px 10px;
}

input[type="submit"] {
    flex: 0 100px;
    font-family: poppins;
    font-size: 1rem;
    line-height: 1.56;
    letter-spacing: 2;
    color: white;
}

input[type="email"] {
    font-family: nunito;
    font-size: 1.375rem;
    line-height: 2.06;
    color: white;
    opacity: 0.70;
}

.links-list-items:hover a {color: var(--color-accent);}


    /*** FOOTER - CONTACTS ***/


#footer-container-logo {min-wwidth: 360px;}
#footer-container-contacts {wmin-idth:270px; margin-bottom: 40px;}
#footer-container-links {min-width: 260px;margin-right: 110px;}

.footer-title {margin: 0px auto 1.875rem 0px;}
.links-list-items {margin-bottom: 0.8125rem;}

#footer-container-contacts address {
    padding-left: 1.375rem;
    padding-right: 4.6875rem;
}


/************
 * FLEX &
 * CONTAINERS
 */


.flex-row {display: flex;}
.row-reverse {display: flex; flex-direction: row-reverse;}
.flex-col {display: flex; flex-direction: column;}
.wrap {flex-wrap: wrap;}
.space-between {justify-content: space-between;}
.space-around {justify-content: space-around;}
.justify-content-center {justify-content: center;}
.justify-content-end {justify-content: flex-end;}
.align-items-center {align-items: center;}
.align-items-end {align-items: flex-end;}
.flex-75prct {flex: 0 75%;}
.flex-25prct {flex: 0 25%;}
.center-container {margin: auto; max-width: 60vw;}


/************
 * RESPONSIVE
 */


/* Breakpoints en max-width */
@media (max-width: 1500px) {}
@media (max-width:  1199.98px) {}
@media (max-width:  991.98px) {}

@media  (max-width: 575.98px) {

    /* header */
    #header-cont {height: unset;}
    #header-menu-bar {
        margin-left: 5vw;
        margin-right: 5vw;
        flex-wrap: wrap;
    }
    #header-logo-container {
        flex: 0 100%;
        margin: 15px;
        padding:0px;
        height:50px; }
    #header-nav-cont {flex: 100%;}
    .header-nav-item {margin: 5px; padding: 5px;}
    .header-nav-item {padding: 5px; /*border: 2px transparent;*/}
    .header-nav-item:hover {padding-top: 0px;}
    #header-prices {
        margin: 30px 5vw;
        max-width: 95%;
        align-items: stretch;
    }

    /* price container */

    #price-cont {margin: 40px auto;}
    .price-sections  {
        height: unset;
        flex: 100%;
        margin: 15px;
    }
    .prices--list {padding:15px 50px;}
    .btn {padding: 5px 15px;}
    .btn-getting-started {
        margin:0px 60px 20px 60px;
        padding:5px 15px;
    }

    /* testimonial */
    #testimonial-cont {padding: 50px 0px;}
    .section-testimonial {width: 95%;}

    /* services */
    #services-cont {margin: 40px 5px;}
    .section-services {flex-wrap: wrap;}
    .services-div-col {padding: 5px 5px;flex: 0 100%;}
    #services-div-col1 {padding-left: 5px 5px;}
    .center-container {max-width: 95%;}
}



/*
	Breakpoints en min-width

	@media (min-width:  480px) {}
	@media (min-width:  768px) {}
	@media  (min-width: 992px) {}
	@media  (min-width: 1200px) {}
*/
